{% extends "base.html" %}

{% block content %}
<div class="container-reset">
    <div class="card-reset">
        <h2>Recuperar senha</h2>
        <p class="subtitle">Crie uma senha segura para acessar sua conta.</p>

        <form method="POST" novalidate>
            {% csrf_token %}

            {% for field in form %}
                <div class="field-group">
                    {% if field.name == "new_password1" %}
                    <label class="label-reset" for="{{ field.id_for_label }}">
                        Digite sua nova senha
                    </label>

                    {% elif field.name == "new_password2" %}
                    <label class="label-reset" for="{{ field.id_for_label }}">
                        Confirme sua nova senha
                    </label>

                    {% endif %}
                    
                    <div class="input-wrapper" style="position: relative;">
                        {{ field }}
                        {% if "password" in field.name %}
                            <i class="fa-solid fa-eye toggle-password olho-confirmar-senha-nova"></i>
                        {% endif %}
                    </div>

                    {# Mensagens de Erro #}
                    {% if field.errors %}
                        <div class="error-messages">
                            {% for error in field.errors %}
                                <span class="error-tag">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn-primary">Salvar nova senha</button>
        </form>
    </div>
</div>
</style>
{% endblock %}