{% extends "base.html" %}

{% block content %}
<div class="tela-login">
    <h2>Recuperar senha</h2>

    <p>Digite seu email para receber o link de recuperação</p>

    <form method="POST">
        {% csrf_token %}

        <input 
            type="email" 
            name="email" 
            placeholder="Digite seu e-mail"
            required
        >

        <button type="submit">Enviar link</button>
    </form>


    <a href="{% url 'login' %}" class="btn-login">
        Voltar ao login
    </a>
</div>
{% endblock %}