{% extends "base.html" %}

{% block content %}

<div class="container-reset">

    <div class="card-reset">

        <div class="logo">
            <i class="fa-solid fa-key"></i>
        </div>

        <h1>Recuperar Senha<span></span></h1>

        <p class="subtitulo">
            Se o e-mail digitado corresponder ao e-mail cadastrado enviaremos um link para redefinir sua senha.
        </p>

        <form method="POST">
            {% csrf_token %}

            <div class="campo-reset-senha">

                <i class="fa-solid fa-envelope tela-reset-senha"></i>

                <input
                    type="email"
                    name="email"
                    placeholder="Digite seu e-mail"
                    required>

            </div>

            <button type="submit">
                Enviar link
            </button>

        </form>

        <a href="{% url 'login' %}" class="link-voltar">
            Voltar para o login
        </a>

    </div>

</div>

{% endblock %}