{% extends 'base.html' %}
{% load static %}

{% block title %}Criar Conta{% endblock %}

{% block content %}
<div class="container-register">
    <div class="card-register">

        <div class="logo">
            <i class="fa-solid fa-user-plus"></i>
        </div>

        <h1>Criar Conta<span>.</span></h1>

        <p class="subtitulo">
            Cadastre-se para acessar o Kanban
        </p>

        {% if messages %}
            {% for message in messages %}
                <div class="alerta {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}

        <div class="campo-cadastro">
        <i class="fa-solid fa-user"></i>
        <input
            type="text"
            name="nome_completo"
            placeholder="Nome Completo"
            autocomplete="name">
            
    </div>

    <div class="campo-cadastro">
        <i class="fa-solid fa-at"></i>
        <input
            type="text"
            name="new_user"
            placeholder="Usuário"
            autocomplete="username">
    </div>

    <div class="campo-cadastro">
        <i class="fa-solid fa-envelope"></i>
        <input
            type="email"
            name="new_email"
            placeholder="Email"
            autocomplete="email">
    </div>

    <div class="campo-cadastro">
        <i class="fa-solid fa-lock"></i>

        <input
            type="password"
            name="new_pass"
            placeholder="Senha"
            autocomplete="new-password">

        <i class="fa-solid fa-eye toggle-password olho-cadastro"></i>
    </div>

    <div class="campo-cadastro">
        <i class="fa-solid fa-lock"></i>

        <input
            type="password"
            name="new_confirm"
            placeholder="Confirmar senha"
            autocomplete="new-password">

        <i class="fa-solid fa-eye toggle-password olho-cadastro"></i>
    </div>

            <button type="submit">
                Criar Conta
            </button>
        </form>

        <a class="link-login" href="/">
            Já possui conta? Entrar
        </a>

    </div>
</div>
{% endblock %}